<header>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{{ site.baseurl }}">
      <img src="{{site.baseurl}}/assets/images/fastruby-logo.svg">
      <span><strong>Fast</strong>Ruby Blog</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link btn-link" href="https://www.fastruby.io/">Go to FastRuby.io</a>
        <a class="nav-item nav-link btn icon-feed" href="{ site.baseurl }}/rss.xml"></a>
      </div>
    </div>
  </nav>
</header>