<header>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{{ site.domain_name }}">
      <img src="{{site.baseurl}}/assets/images/fastruby-logo.svg" alt="FastRuby.io Logo">
      <span></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="blog-nav">
      <a class="nav-item nav-link btn-link" href="{{ site.baseurl }}"><strong>FastRuby</strong>  Blog</a>
      <form class="nav-item nav-link" action='/search' method='GET'>
        <div id='search-input-wrapper'>
          <input type="search" name="query" aria-label="Search blog posts" placeholder="Search blog posts..." required id="search-input"/>
          <button type='submit' hidden></button>
          <!-- <button class='close icon-cross'></button> -->
        </div>
        <button id="search-button" class='search-button'><i class="icon-search"></i></button>
      </form>
      <a class="nav-item nav-link rss-button icon-rss" href="{{ site.domain_name }}/blog/rss.xml"></a>
    </div>
  </nav>
</header>
