<header>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{{ site.domain_name }}">
      <img src="{{site.baseurl}}/assets/images/fastruby-logo.svg" alt="FastRuby.io Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Open navigation">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="nav">
        <div id="search-form-wrapper-nav" class="search-form-wrapper">
          <form class="nav-item nav-link" id='search-input-wrapper-nav' action='/search' method='GET'>
            <input type="search" name="query" aria-label="Search blog posts" placeholder="Search blog posts" required id="search-input-nav"/>
            <button type='submit'></button>
          </form>
          <div id="search-close">
            <button id="search-button"><i class="icon-search"></i></button>
            <button id="close-button-nav" class="close-button"><i class="icon-cross"></i></button>
          </div>
        </div>
        <a class="nav-item nav-link btn-link" href="{{site.domain_name}}/team" >Our Team</a>
        <a class="nav-item nav-link btn-link" href="{{site.domain_name}}/#faq" >FAQ</a>
        <a class="nav-item nav-link btn-link" href="{{site.domain_name}}/blog" aria-label="Blog">Blog</a>
        <a class="nav-item nav-link btn-link" href="{{site.domain_name}}/newsletter" >Newsletter</a>
        <a class="nav-item nav-link btn contact-us" href="{{site.domain_name}}/#contactus" aria-label="Contact Us">Contact Us</a>
        <a class="nav-item nav-link btn icon-rss" href="https://fastruby.io/blog/rss.xml"></a>
        <div class="break"></div>
      </div>
    </div>
  </nav>
</header>
