  <article class="post">
    <div class="post-header">
      <h1>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h1>
      {%- assign published_at = post.date -%}
      {%- assign reviewed_at = post.reviewed -%}
      {%- include timestamp.html -%}
    </div>
    <div class="post-meta">
      {%- include post_meta.html -%}
    </div>
    <section class="post-excerpt">
      {{ post.excerpt | markdownify }} <a class="btn" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
    </section>
  </article>
