<div id="sidebar">
  <div id="advertisement">
    <a href="#" class="adv-close">x</a>
    <a class="adv-link" href="https://fastruby.io/?utm_source=blog&utm_medium=banner&utm_content=sidebar" target="_blank">
      <div class="adv-body">
        <h2>fastruby.io</h2>
        <h1 class="adv-title">
          <span>Speedy</span>
          <span>Rails</span>
          <span>Upgrades</span>
        </h1>
      </div>
      <div class="adv-copy">
          <p>Need to upgrade your app to Rails 5.2? <br>We can help with our productized consulting service.</p>
      </div>
    </a>
  </div>
</div>
