<footer class="col-xs-12">
    <nav class="menu">
      <a href="/#clients">Our Clients</a>
      <a href="/team">Our Team</a>
      <a href="/#faq">FAQ</a>
      <a href="/#contact-us">Contact Us</a>
    </nav>
    <div id="block-container">
      <div id="bloc1">
        <h2 class="productized-footer">FastRuby.io is a productized service by </h2>
      </div>
      <div id="bloc2" class="logo-container-footer">
        <h3 class="logo-footer"><a href="https://www.ombulabs.com" target="_blank" title="The Lean Software Boutique"><span class="logo-ombu-footer">Ombu</span>Labs</a></h3>
        <h2 class="slogan-footer"><a href="https://www.ombulabs.com" target="_blank" title="Ombu Labs"> THE LEAN SOFTWARE BOUTIQUE</a></h2>
      </div>
    </div>
</footer>
