<div id="tags">
  <h2 class="category-name">Listing all tags</h2>
    {%- for post in site.posts -%}
      {%- for category in post.categories -%}
        {%- assign item = category -%}

        {%- unless tags contains item -%}
          {%- assign tags = tags | append: ';' | append: item -%}
        {%- endunless -%}
      {%- endfor -%}
    {%- endfor -%}

    {%- assign list = tags | split: ';' | sort -%}
    {%- for category in list -%}
        <h3 class="tag-name">
          <a href="{{ site.baseurl }}/tags/{{ category | downcase | replace: ' ','-' }}"
             title="Articles about {{ category | titleize | replace: '-',' ' }}">{{ category | titleize  | replace: '-',' ' }}</a>
        </h3>
    {%- endfor -%}
</div>
